<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">


 	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

   <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" 
         
          />
<!--  th:unless="__${#locale}__=='ar'" -->

<!--    <link href="http://cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css"
          th:href="@{//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css}"
          rel="stylesheet" media="screen" 
         th:if="__${#locale}__=='ar'"
          />

		 Load Bootstrap RTL theme from RawGit 
<link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">
-->
<!--
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
-->


    <link href="../static/css/testboot.css"
          th:href="@{/css/testboot.css}" rel="stylesheet" media="screen"/>
          
    <link href="../static/css/testboot_ar.css"
          th:href="@{/css/testboot_ar.css}" rel="stylesheet" media="screen"
         th:if="__${#locale}__=='ar'"
         
          />
          
</head>
<body>

</body>
</html>